body{
    margin: 0;
    padding: 0;
}

.a__like{
  margin: 100px;
  font-size:224px
     
}
.a__like:hover{
    color: red; 
}

#input__like {
    display: none;
}

#input__like:checked+.a__like{
color:green;
}
#input__like:checked:hover+.a__like{
    opacity: 30%;
}