.flex__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#form-search {
    width: 230px;
    height: 2px;
    padding: 10px;
}

#menu {
    text-decoration: none;
    display: flex;
    padding: 15px;
}

#input__submit {
    margin-left: -15px;
    padding: 10px;
}