.body{
    margin: 0px;
}

.table{
    height: 250px;
    width: 280px;
    background-color: grey;
}

#header{
    background-color: white;
    position: relative;
    border-radius: 5px;
    top: 10px; 
    left: 10px;
    bottom: 10px;
    right: 10px;
    height: 230px;
    width: 260px;
}
textarea{
  margin-left: 20px;

}
#close{
    margin-right: 165px;
}