.body{
    margin: 0px;
}
#table{
    width: 800px
}

#img{
height: 328px;
width: 246px;
}
#fire{
    width: 200px;
}

#description{
width: 500px;
padding-left: 60px;
padding-right: 40px;
}
#type{
padding: 15px;
}
#imgblouse{
    height: 700px;
    width: 450px;
}

#pol{
display: flex;
width: 50%;
}

#blousedescription{
    margin: 70px;
}